extends layout

block scripts
  script(type='text/javascript', src='/javascripts/admin.js')

block content
  h1 Admin Console
  h2 Stickies
  if stickies
    table.stickies
      thead
        tr
          th ID
          th Text
          th
      tbody
        for sticky in stickies
          tr
            td= sticky.id
            td= sticky.text
            td
              a(href="##{sticky.id}") Delete
  else
    table.stickies
    p No stickies
  h2 Stickers
  if stickers
    table.stickers
      thead
        tr
          th ID
          th Type
          th Sticky ID
          th
      tbody
        for sticker in stickers
          tr
            td= sticker.id
            td= sticker.type
            td= sticker.stickyId
            td
              a(href="##{sticker.id}") Delete
  else
    table.stickers
    p No stickers